nav {
    padding: 12px 0px;
    
    .nav__ul {
        @include makeGrid(center, center);

        li {
            list-style-type: none;

            .nav__list {
                text-align: center;
                margin: 0 10px;
                text-decoration: none;
                color: #07903A;
                
                &:hover {
                    color: #1ed461;
                    border-bottom: 1px solid #1ed461;
                }
            }
        }

        
    }
}